body{
    background-color: #000;
}
.wrap{
    background-color: #fff;
    max-width: 35%;
    margin: 10% auto;
}
.container{
    max-width: 600px;
    height: 800px;
    text-align: center;
}
.complete{
    border:solid 2px rgb(187, 53, 53);
    width: 16px;
    height: 16px;
    padding: 0;
}
.done{
    background-color: rgb(187, 53, 53);
}
li{
    display: flex;
}
#big-title{
    padding: 20px ;
}
ul .checkbox{
    text-align: left;
}
ul .delete{
    text-align: right;
}
.item{
    color:pink;
}
.item-done{
text-decoration-line: line-through;
}